apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: happymates-blob-keyvault
  namespace: happymates-blob
  labels:
    app.kubernetes.io/name: happymates-blob
spec:
  provider: azure
  parameters:
    usePodIdentity: "false"
    useVMManagedIdentity: "true"
    userAssignedIdentityID: "ad271b70-46ea-455b-ae2a-447b870a4357"
    keyvaultName: "kv-happy-mates-sweden1"
    tenantId: "8bfad545-8650-4872-a917-20c9720b906b"
    objects: |
      array:
        - |
          objectName: happy-mates-happymates-blob-AZURE-CLIENT-ID
          objectType: secret
          objectAlias: AZURE_CLIENT_ID
        - |
          objectName: happy-mates-happymates-blob-AZURE-CLIENT-SECRET
          objectType: secret
          objectAlias: AZURE_CLIENT_SECRET
        - |
          objectName: happy-mates-happymates-blob-AZURE-TENANT-ID
          objectType: secret
          objectAlias: AZURE_TENANT_ID
        - |
          objectName: happy-mates-happymates-blob-NEXT-PUBLIC-AZURE-CLIENT-ID
          objectType: secret
          objectAlias: NEXT_PUBLIC_AZURE_CLIENT_ID
        - |
          objectName: happy-mates-happymates-blob-NEXT-PUBLIC-AZURE-TENANT-ID
          objectType: secret
          objectAlias: NEXT_PUBLIC_AZURE_TENANT_ID
        - |
          objectName: happy-mates-happymates-blob-SECRET-COOKIE-PASSWORD
          objectType: secret
          objectAlias: SECRET_COOKIE_PASSWORD
        - |
          objectName: happy-mates-happymates-blob-BASE-URL
          objectType: secret
          objectAlias: BASE_URL
        - |
          objectName: happy-mates-happymates-blob-AZURE-SPEECH-KEY
          objectType: secret
          objectAlias: AZURE_SPEECH_KEY
        - |
          objectName: happy-mates-happymates-blob-AZURE-SPEECH-REGION
          objectType: secret
          objectAlias: AZURE_SPEECH_REGION
        - |
          objectName: happy-mates-happymates-blob-STRIPE-SECRET-KEY
          objectType: secret
          objectAlias: STRIPE_SECRET_KEY
        - |
          objectName: happy-mates-happymates-blob-NEXT-PUBLIC-STRIPE-PUBLISHABLE-KEY
          objectType: secret
          objectAlias: NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY
        - |
          objectName: happy-mates-happymates-blob-STRIPE-WEBHOOK-SECRET
          objectType: secret
          objectAlias: STRIPE_WEBHOOK_SECRET
  secretObjects:
    - secretName: happymates-blob-secrets
      type: Opaque
      data:
        - objectName: AZURE_CLIENT_ID
          key: AZURE_CLIENT_ID
        - objectName: AZURE_CLIENT_SECRET
          key: AZURE_CLIENT_SECRET
        - objectName: AZURE_TENANT_ID
          key: AZURE_TENANT_ID
        - objectName: NEXT_PUBLIC_AZURE_CLIENT_ID
          key: NEXT_PUBLIC_AZURE_CLIENT_ID
        - objectName: NEXT_PUBLIC_AZURE_TENANT_ID
          key: NEXT_PUBLIC_AZURE_TENANT_ID
        - objectName: SECRET_COOKIE_PASSWORD
          key: SECRET_COOKIE_PASSWORD
        - objectName: BASE_URL
          key: BASE_URL
        - objectName: AZURE_SPEECH_KEY
          key: AZURE_SPEECH_KEY
        - objectName: AZURE_SPEECH_REGION
          key: AZURE_SPEECH_REGION
        - objectName: STRIPE_SECRET_KEY
          key: STRIPE_SECRET_KEY
        - objectName: NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY
          key: NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY
        - objectName: STRIPE_WEBHOOK_SECRET
          key: STRIPE_WEBHOOK_SECRET
